html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#top{
    height: 5%;
    background-color: lightblue;
}

#map{
    height: 95%;
}

#basemapToggle{
    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 50;
}

#homeButton{
    position: absolute;
    top: 125px;
    left: 20px;
    z-index: 50;
}

#layerList{
    overflow: auto;
    height: auto;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.185);
    position: absolute;
    top:6%;
    right:5px;
    z-index: 51;
}


