        html,
        body {
            height: 100%;
            width: 100%;
        }

        #mainView {
            position: absolute;
            top: 52px;
            bottom: 0px;
            width: 100%;
        }

        #mainView>.row {
            height: 100%;
            /* margin-left: 50px;
            margin-right: 50px; */
        }

        #mainView>.row>#treeContainer {
            height: 100%;
            background-color: #f5f7fa;
            padding: 0;
            background-image: linear-gradient(to bottom, #f5f7fa, #dce9fd);
        }

        #treeHead {
            font-size: 120%;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
        }

        #treeContainer>ul {
            padding: 0;
            list-style: none;
            margin-top: 100px;
        }

        #treeContainer>ul>li {
            display: block;
            text-align: center;
        }

        #treeContainer>ul>li>div {
            display: block;
            color: gray;
            padding: 10px;
            cursor: pointer;
        }

        #treeContainer>ul>li>div>span {
            display: inline-block;
            margin-right: 10px;
            font-size: 2em;
        }

        #treeContainer>ul>li>div:hover,
        #treeContainer li.active {
            background-color: #dadaf8;
            color: black;
        }


        #mainView>.row>#mainContainer {
            height: 100%;
            background-color: white;
            padding: 0;
        }

        #mainTable {
            padding: 0;
            margin: 0;
            max-height: 500px;
            overflow-y: auto;
        }

        #tBody {
            height: auto;
            max-height: 80%;
            overflow-y: scroll;
            word-break: break-all;
            word-wrap: break-all;
            box-shadow: 2px 2px 3px black;
        }

        #tBody table {
            margin:0;
        }

        #tHead {
            overflow-y: scroll;
            background-image: linear-gradient(to bottom, rgb(229, 244, 247), white)
        }

        #tHead>table {
            margin: 0;
        }

        th,
        td {
            text-align: left;
        }

        i.editDevice:hover {
            cursor: pointer;
            color: blue;
        }


        #tBar {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 10px;
            height: 48px;
            text-align: center;
            padding-top: 5px;
        }

        #tBar button {
            margin-right: 15px;
        }