        html,
        body {
            height: 100%;
            width: 100%;
        }

        #mainView {
            position: absolute;
            top: 52px;
            bottom: 0px;
            width: 100%;
        }

        #mainView>.row {
            height: 100%;
            /* margin-left: 50px;
            margin-right: 50px; */
        }

        #mainView>.row>#treeContainer {
            height: 100%;
            background-color: #f5f7fa;
            padding: 0;
            background-image: linear-gradient(to bottom, #f5f7fa, #dce9fd);
        }

        #treeHead {
            font-size: 120%;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
        }

        #treeContainer>ul {
            padding: 0;
            list-style: none;
            margin-top: 50px;
        }

        #treeContainer>ul>li {
            display: block;
            text-align: center;
        }

        #treeContainer>ul>li>div {
            display: block;
            color: gray;
            padding: 10px;
            cursor: pointer;
        }

        #treeContainer>ul>li>div>span {
            display: inline-block;
            margin-right: 10px;
        }

        #treeContainer>ul>li>div:hover,
        #treeContainer li.active {
            background-color: #dadaf8;
            color: black;
        }


        #mainView>.row>#mainContainer {
            height: 100%;
            background-color: white;
            padding: 0;
        }

        #mainTable {
            padding: 0;
            margin: 0;
            max-height: 500px;
            overflow-y: auto;
        }

        #tBody {
            height: auto;
            max-height: 80%;
            overflow-y: scroll;
            word-break: break-all;
            word-wrap: break-all;
            box-shadow: 2px 2px 3px black;
        }

        #tBody table {
            margin:0;
        }

        #tHead {
            overflow-y: scroll;
            background-image: linear-gradient(to bottom, rgb(229, 244, 247), white)
        }

        #tHead>table {
            margin: 0;
        }

        th,
        td {
            text-align: left;
        }

        td.desktop,
        td.mobile {
            cursor: pointer;
        }

        td.desktop:hover,
        td.mobile:hover {
            color: blue;
        }

        #tBar {
            text-align: center;
            padding-top: 5px;
        }
        #tBar button {
            border-radius: 0;
        }

        /* 权限组 */
        #grpContainer {
            padding: 0 0 5px 5px;
            background-color: rgba(200, 211, 202, 0.767);
        }

        div.grpBtn {
            min-width: 70px;
            text-align: center;
            padding: 5px;
            background-color: white;
            display: inline-block;
            cursor: pointer;
            margin-right: 5px;
            margin-top: 3px;
            clear: right;
        }

        div.grpBtn.active {
            background-color: rgb(141, 184, 212);
        }

        div.grpBtn:hover {
            background-color: slategrey;
        }

        .grpEdit {
            float: right;
            min-width: 35px;
        }

        .grpCfg {
            float: right;
        }


        #addGrpDiv {
            display: none;
            position: absolute;
            z-index: 1001;
            height: 90%;
            width: 60%;
            top: 5%;
            left: 20%;
            padding: 1em;
            background-color: whitesmoke;
            font-size: 1.2em;
            overflow-y: auto;
            box-shadow: 2px 2px 6px black;
        }
        #addGrpDiv div.main {
            height: 85%;
            margin-top: 3px;
        }

        #addGrpDiv div.service {
            height: 100%;
            background-color: #eee;
            font-size: 0.5em;
            overflow-y: auto;
        }
        div.service>div.row {
            height: 100%;
        }
        #addGrpDiv div.function {
            height: 100%;
            background-color:#ddd;
            font-size: 0.8em;
            
        }
        #addGrpDiv div.bar {
            text-align: center;
            margin-top: 5px;
            width: 100%;
        }

        div.bar button {
            border-radius: 0;
        }

        #layerDiv {
            height: 100%;
            overflow: auto;
        }

        #layerList div.father {
            background-color: rgb(247, 253, 250);
            padding: 5px;
            margin-bottom: 5px;
            cursor: pointer;
        }
        
        #layerList div.father:nth-child(1) {
            background: rgb(247, 253, 250);
        }

        #layerList ul.son {
            display: none;
        }

        #layerList li.son {
            padding: 2px;
            cursor: default;
        }

        #layerList li.son:hover {
            background: #eee;
            color: black;
        }

        #layerList li.son.active {
            color: white;
        }

        #layerList li.son.active:hover {
            color: white;
            background: #337ab7;
        }



        #layerList input[type=checkbox],#funList input[type=checkbox]  {
            cursor: pointer;
        }



        #fieldDiv {
            height: 100%;
            overflow: auto;
        }
        #fieldList {
            background-color: green;
        }


        /* 增加用户 */
        #addUserDiv,#editUserDiv {
            display: none;
            position: absolute;
            z-index: 1001;
            height: auto;
            width: 40%;
            top: 20%;
            left: 30%;
            padding: 2em;
            background-color: whitesmoke;
            font-size: 1.2em;
            overflow-y: auto;
            box-shadow: 2px 2px 6px black;
        }

        #addUserDiv div,#editUserDiv div {
            margin-top: 10px;
        }

        #addUserDiv div input,#editUserDiv div input {
            width: 40%;
        }

        .lab {
            width: 30%;
            text-align: right;
        }

        #addUserDiv .btns, #editUserDiv .btns {
            text-align: center;
        }







        /* 修改图层 */
        #grayBack {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(128, 128, 128, 0.548);
            z-index: 999;
            display: none;

            transition-property: background-color;
            transition-duration: 2s;
            transition-timing-function: ease;
        }

        #grayBack:hover {
            background-color: rgba(107, 107, 107, 0.623);
        }

        #closeEdit {
            display: block;
            float: right;
            cursor: pointer;
            color: black;
        }

        #closeEdit:hover {
            color: white;
        }

        #editContainer {
            position: absolute;
            width: 90%;
            height: 80%;
            left: 5%;
            top: 10%;
            z-index: 1000;
            background-color: white;
            display: none;
        }

        #editHeader {
            font-size: 2em;
            display: block;
            width: 300px;
            text-align: center;
            margin: 0 auto;
        }

        #editMain {
            height: 95%;
            max-height: 90%;
            margin-left: 0px;
            margin-right: 0px;
        }

        #serviceContainer {
            height: 100%;
            overflow: auto;
        }

        #fieldsContainer {
            height: 95%;
            padding-left: 20px;
        }

        #fields {
            height: 100%;
        }

        #fieldsTb {
            max-height: 95%;
            overflow-y: auto;
        }